    <h1>View All Sources</h1>
    <div class="homework-library-results">
		<div class="homework-library-detail">
			<div class="homework-library-panel-header homework-library-border">
				Sources
			</div>
			<div class="homework-library-panel-container">
				{% if  libraries == null %}
                <div>
                    <center>No loaded sources. To upload a source, select the <i>Upload</i> or <i>Git</i> tab above.</center>
                </div>
                {% endif %}
                {% for source in libraries %}
                    <div class="homework-library-panel-card homework-library-border" style="display: flex; justify-content: space-between; align-items: center;">
                        <span>{{ source }}</span>
                        <span>
                            <button class="btn" onclick="refreshLibrary('{{ source }}')">Refresh</button>
                            <button class="btn" onclick="deleteLibrary('{{ source }}')">Delete</button>
                        </span>
                    </div>
                {% endfor %}
			</div>
		</div>

        <script type="text/javascript">
        function deleteLibrary(libraryName) {
            if (!confirm('Are you sure you want to delete "' + libraryName + '"?')) return;
            $.ajax({
                url: '/homework/library/manage/remove/' + libraryName,
                data: {
                    csrf_token: '{{ csrf_token }}'
                },
                type: 'DELETE',
                success: function(data) {
                    try {
                        var jsondata = JSON.parse(data);
                        console.log(data);
                        if (jsondata['status'] === "success") {
                            displaySubmissionMessage(jsondata);
                            location.reload(true);
                        } else {
                            displaySubmissionMessage(jsondata);
                        }
                    }
                    catch (e) {
                        displaySubmissionMessage({
                            status: "fail",
                            message: "Error parsing response from server."
                        });
                    }
                },
                error: function(request, status, error) {
                    displaySubmissionMessage({
                        status: "fail",
                        message: request.responseText
                    });
                }
            });
        }
        function refreshLibrary(libraryName) {
            $.ajax({
                url: '/homework/library/manage/update/' + libraryName,
                data: {
                    csrf_token: '{{ csrf_token }}'
                },
                type: 'PATCH',
                success: function(data) {
                    try {
                        console.log(data);
                        var jsondata = JSON.parse(data);
                        if (jsondata['status'] === "success") {
                            displaySubmissionMessage(jsondata);
                            location.reload(true);
                        } else {
                            displaySubmissionMessage(jsondata);
                        }
                    }
                    catch (e) {
                        displaySubmissionMessage({
                            status: "fail",
                            message: "Error parsing response from server."
                        });
                        console.log(data);
                    }
                },
                error: function(request, status, error) {
                    displaySubmissionMessage({
                        status: "fail",
                        message: request.responseText
                    });
                }
            });
        }
</script>
	</div>
